@import url("https://use.typekit.net/bte1fue.css");

body{
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

$h1: 48px;
$h2: 36px;
$h3: 28px;
$p: 24px;
$marginL: 10vw;

p{
  line-height: 1.4;
}

*{
  box-sizing: border-box;
}

.logo-text a, p a, .links a{
  transition: filter 0.4s ease;
  &:hover{
    filter: blur(5px);
  }
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: $h3;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 1% 1%;
  a{
    text-decoration: none;
    color: inherit;
  }
  .links{
    a{
      margin-left: 2vw;
    }
  }
}

.container{
  padding: 50px 1%;
}

.text-section{
  font-size: $p;
  padding-left: $marginL;
  padding-top: 48px;
  padding-bottom: 48px;
  p{
    min-height: $p;
    max-width: 65%;
  }
}

.project-title{
  position: fixed;
  bottom: 14px;
  right: 14px;
  font-size: $h3;
}

.images-section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  .image{
    height: 70vh;
    width: auto;
    margin: 2vw 1vw;
    &.full-width{
      width: 100%;
      height: auto;
    }
    &.full-height{
      width: auto;
      height: 100%;
    }
    &.full-screen{
      width: 100vw;
      height: 100vh;
      margin: 0;
      img{
        object-fit: cover;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.columns-1{
    .image{
      width: 100%;
      height: auto;
    }
  }
  
  &.columns-2{
    .image{
      width: 45%;
      height: auto;
    }
  }
  
  &.columns-3{
    .image{
      width: 30%;
      height: auto;
    }
  }
  &.columns-4{
    .image{
      width: 22%;
      height: auto;
    }
  }
}

.drag-container{
  width: 110vw;
  height: 110vh;
  margin-top: -10vh;
  margin-left: -10vh;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

.drag{
  &.small{
    height:20vw;
  }
  &.big{
    height: 40vw;
    z-index: 999;
  }
  height: 30vw;
  width: auto;
  position: absolute;
  &:hover{
    z-index: 9999!important;
  }
  a{
    color: black;
  }
  img{
    width: auto;
    height: 100%;
    mix-blend-mode: difference;
    &:hover{
      mix-blend-mode: normal;
    }
  }
  &.left_top{
    left: 0;
    top: 0;
  }
  &.middle_top{
    left: 30vw;
    top: 0;
  }
  &.right_top{
    left: 60vw;
    top: 0;
  }
  &.left_bottom{
    left: 0;
    top: 50vh;
  }
  &.middle_bottom{
    left: 30vw;
    top: 50vh;
  }
  &.right_bottom{
    left: 60vw;
    top: 50vh;
  }
  p{
    position: fixed;
    bottom: 14px;
    right: 14px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    font-size: 28px;
    margin: 0;
    max-width: 50%;
    text-align: right;
  }
  &:hover{
    p{
      visibility: visible;
      opacity: 1;
    }
  }
}

.footer{
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 50%;
  font-size: $h3;
  p{
    margin: 14px 0;
  }
  a{
    color: black;
  }
}

.list{
  margin-top: 100px;
  padding: 0 24px;
  * {
    font-weight: 500!important;
  }
  a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    display: block;
  }
}